/* import font */
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

/* general setting */
body, html{
    height: 94%;
    margin: 0;
    font-family: 'Source Serif Pro', serif;
}

body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0039b3+0,34cfbe+100 */
    background: #0039b3; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #0039b3 0%, #34cfbe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0039b3 0%,#34cfbe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #0039b3 0%,#34cfbe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0039b3', endColorstr='#34cfbe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    /* make the background color not repeat */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* genral display settings */
    display: grid;
    grid-template-columns: 20% auto;
    padding: 2em;
}

aside{
    background: #DCE1F6;
    color: #fff;
    display: grid;
    /*padding: 2em;*/
    grid-template-columns: auto;
    grid-template-rows: 20% auto;
    padding: 0;
}

img{
    /* set the cursor for all images as pointer */
    cursor: pointer;
}
figure{

}

figcaption{
    font-size: 1.3em;
    font-weight: bold;
}

nav{
    background: none;
}

/* .active{
    position: absolute;
    display: block;
    background: #fff;
    width: 50%;
    left: 0;
    /* top: 0; */
    /* height: 100%; */


ul{
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 5em;
    position: relative !important;
    background: none !important;
}

ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    display: block;
    padding: 1.5em 3em;
    background-color: rgba(255,255,255,.35);
    color: #000;
}

ul li a:hover{
    background-color: white;
}

main{
    background: white url("../images/tutorandstudentstudying.jpg") no-repeat;
    background-size: cover;
    padding: 2em;
}

#avatar{
	border-radius: 50%;
	background-color: white;
	width: 50px;
	height: 50px;
	margin: 2em auto 1em auto;
}
figcaption{
    text-align: center;
    color: #000;
}

h1{
    margin: 0;
    font-size: 3em;
    margin-top: 2em;
}

p{
    font-size: 1.5em;
    line-height: 1.5em;
}

.cta{
    display: inline-block;
    color: #fff;
    background: rgba(14,127,255,.35);
    text-decoration: none;
    padding: 0.8em 3em;
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    margin: 2em 0;
}
