<!DOCTYPE html>
<html lang="en">

<head>
	<title>TutorPlus</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--========================================Login-CSS==================================================-->
	<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="https://firebasestorage.googleapis.com/v0/b/tutorplus-93a0f.appspot.com/o/TutorPlusWeb%2Fbootstrap.min.css?alt=media&token=226f3d33-f2b4-447c-8a68-b8e5e0f30b94
">-->
	<link rel="stylesheet" type="text/css" href="https://firebasestorage.googleapis.com/v0/b/tutorplus-93a0f.appspot.com/o/TutorPlusWeb%2Ffont-awesome.min.css?alt=media&token=9e627b85-7c8b-452a-98b4-4167c314634f
">
	<link rel="stylesheet" type="text/css" href="https://firebasestorage.googleapis.com/v0/b/tutorplus-93a0f.appspot.com/o/TutorPlusWeb%2Fmaterial-design-iconic-font.min.css?alt=media&token=c705c3fb-f03d-4b4b-b0a8-b8728c8d64b5
">
	<link rel="stylesheet" type="text/css" href="https://firebasestorage.googleapis.com/v0/b/tutorplus-93a0f.appspot.com/o/TutorPlusWeb%2Fanimate.css?alt=media&token=8f56b32a-5d06-4f45-8b24-575b44f0285b
">
	<link rel="stylesheet" type="text/css" href="https://firebasestorage.googleapis.com/v0/b/tutorplus-93a0f.appspot.com/o/TutorPlusWeb%2Fhamburgers.min.css?alt=media&token=44cdbba6-e6fa-4ae7-8f1a-071f7a9ab3ad
">
	<link rel="stylesheet" type="text/css" href="https://firebasestorage.googleapis.com/v0/b/tutorplus-93a0f.appspot.com/o/TutorPlusWeb%2Fanimsition.min.css?alt=media&token=86b0aa83-7cd5-404b-87bf-cbecd0dd3175
">
	<link rel="stylesheet" type="text/css" href="https://firebasestorage.googleapis.com/v0/b/tutorplus-93a0f.appspot.com/o/TutorPlusWeb%2Fselect2.min.css?alt=media&token=3928343a-bd54-43d4-9091-61c05f29e2c8
">
	<link rel="stylesheet" type="text/css" href="https://firebasestorage.googleapis.com/v0/b/tutorplus-93a0f.appspot.com/o/TutorPlusWeb%2Fdaterangepicker.css?alt=media&token=e4d4d25b-849b-41c1-8b47-2e502702d052
">
	<link rel="stylesheet" type="text/css" href="https://firebasestorage.googleapis.com/v0/b/tutorplus-93a0f.appspot.com/o/TutorPlusWeb%2Futil.css?alt=media&token=158fbe46-d2f9-4b6e-a15b-53d7ddcaa9cc
">
	<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<!--===============================================================================================-->


	<!--========================================Login-CSS-JS==================================================-->
	<!--===============================================================================================-->
	<script src="https://firebasestorage.googleapis.com/v0/b/tutorplus-93a0f.appspot.com/o/TutorPlusWeb%2Fjquery-3.2.1.min.js?alt=media&token=9025de31-9923-46b0-b8d9-3793fc8133bb
"></script>
	<script src="{https://firebasestorage.googleapis.com/v0/b/tutorplus-93a0f.appspot.com/o/TutorPlusWeb%2Fanimsition.min.js?alt=media&token=6ac85505-2307-439b-8486-ef9f559c7bd1
"></script>
	<script src="https://firebasestorage.googleapis.com/v0/b/tutorplus-93a0f.appspot.com/o/TutorPlusWeb%2Fpopper.js?alt=media&token=2464add3-d016-4ebf-9c1e-8c276172c1f3
"></script>
	<script src="https://firebasestorage.googleapis.com/v0/b/tutorplus-93a0f.appspot.com/o/TutorPlusWeb%2Fbootstrap.min.js?alt=media&token=38140b7e-10fd-459a-9a00-16bdb6402846
"></script>
    <script src="https://firebasestorage.googleapis.com/v0/b/tutorplus-93a0f.appspot.com/o/TutorPlusWeb%2Fselect2.min.js?alt=media&token=985e12d3-a118-4d61-ac2e-766ea8ff2c73
"></script>
    <script src="https://firebasestorage.googleapis.com/v0/b/tutorplus-93a0f.appspot.com/o/TutorPlusWeb%2Fmoment.min.js?alt=media&token=7dde9652-7801-44ec-9df3-f26d8f79213f
"></script>
    <script src="https://firebasestorage.googleapis.com/v0/b/tutorplus-93a0f.appspot.com/o/TutorPlusWeb%2Fdaterangepicker.js?alt=media&token=71454977-a755-4370-acaa-55e7cfbd1bc0
"></script>
	<script src="https://firebasestorage.googleapis.com/v0/b/tutorplus-93a0f.appspot.com/o/TutorPlusWeb%2Fcountdowntime.js?alt=media&token=ccaa43c7-e499-4ac3-ac2c-d7227ffe4fb1
"></script>
	<!--===============================================================================================-->


	<!--========================================Profile-Page-CSS-JS==================================================-->
	<!--===============================================================================================-->
	<!-- Font special for pages-->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">


	<!-- Main CSS-->
	<link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/tutorplus-93a0f.appspot.com/o/TutorPlusWeb%2FuserProfile.css?alt=media&token=eb89ac7b-b59b-4388-96d2-e045c0b64772">
	<!--===============================================================================================-->


	<!--========================================Main-CSS==================================================-->
	<!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="https://firebasestorage.googleapis.com/v0/b/tutorplus-93a0f.appspot.com/o/TutorPlusWeb%2Findex.css?alt=media&token=dd20fca6-f487-4916-8ea2-467775465d16
">
	<link rel="stylesheet" type="text/css" href="https://firebasestorage.googleapis.com/v0/b/tutorplus-93a0f.appspot.com/o/TutorPlusWeb%2Fmain.css?alt=media&token=3a9fb0b8-200a-4aa8-b4e0-24148d55ed70
">
	<!--===============================================================================================-->


	<!--==========================================JS=============================================-->
	<!--===============================================================================================-->
	<script src="https://unpkg.com/vue@latest"></script>
	<!--<script src="https://unpkg.com/vue-select@latest"></script>-->
	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
	<!--===============================================================================================-->

	<!--==========================================Other=============================================-->
	<!--===============================================================================================-->
	{{include "web2py_ajax.html"}}
	<!--===============================================================================================-->


	<!--==========================================Firebase=============================================-->
	<!--===============================================================================================-->
	<script src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js"></script>
	<script>
		// Initialize Firebase
		var config = {
			apiKey: "AIzaSyDWW9aZzAPulRzPU6i_23OdAx0jXPwJRVk",
			authDomain: "tutorplus-93a0f.firebaseapp.com",
			databaseURL: "https://tutorplus-93a0f.firebaseio.com",
			projectId: "tutorplus-93a0f",
			storageBucket: "tutorplus-93a0f.appspot.com",
			messagingSenderId: "690236283457"
		};
		firebase.initializeApp(config);
	</script>
	<!--===============================================================================================-->
</head>

<!--============================================Main==============================================-->
<!--===============================================================================================-->

<body>
	{{include}}
</body>

</html>

<!--===============================================================================================-->

