{{extend 'import.html'}}
{{block head}}
{{end}}
<html>
    <body>



        <div id="vue-index">

            <!----------------------------------- login part ------------------------------->
            <!--login_idx is used to control display: LOGIN, SIGNUP-->
            <div id="login_part" v-show="!logged_in">


                <!---login--->
                <span v-show="login_idx === 'LOGIN'">

                    <div class="limiter">
                        <div class="container-login100">
                            <div class="wrap-login100 p-t-85 p-b-20">


                                <div class="login100-form validate-form" id="login_div">

                                    <img src="{{=URL('static','images/ojbk1.png')}}" align="middle">

                                    <v-text-field
                                        label="Username"
                                        box
                                        color="blue"
                                        dark
                                  ></v-text-field>

                                    <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
                                        <input class="input100" type="text" name="username" id="username_field">
                                        <span class="focus-input100" data-placeholder="Username"></span>
                                    </div>

                                    <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                                        <input class="input100" type="password" name="password" id="password_field">
                                        <span class="focus-input100" data-placeholder="Password"></span>
                                    </div>

                                    <div class="container-login100-form-btn">
                                        <button v-on:click="login()" class="login100-form-btn">Login</button>
                                    </div>
                                    <br>

                                    <div class="container-login100-form-btn">
                                        <button v-on:click="login_idx = 'SIGNUP'" class="login100-form-btn">Sign Up</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </span>


                <!---signup--->
                <span v-show="login_idx === 'SIGNUP'">
                    <div class="limiter">
                        <div class="container-login100">
                            <div class="wrap-login100 p-t-85 p-b-20">

                                <div class="login100-form validate-form" id="login_div">

                                    <img src="{{=URL('static','images/ojbk1.png')}}" align="middle">

                                    <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
                                        <input class="input100" type="text" name="username-signup" id="username_signup_field">
                                        <span class="focus-input100" data-placeholder="Username"></span>
                                    </div>

                                    <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                                        <input class="input100" type="password" name="password-signup" id="password_signup_field">
                                        <span class="focus-input100" data-placeholder="Password"></span>
                                    </div>

                                    <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                                        <input class="input100" type="password" name="re-password" id="re-password_signup_field">
                                        <span class="focus-input100" data-placeholder="Re-Password"></span>
                                    </div>

                                    <div class="container-login50-form-btn">
                                        <button v-on:click="" class="login50-form-btn">Signup</button>
                                        <button v-on:click="login_idx = 'LOGIN'" class="login50-form-btn">Return</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>

                <!---messageBox--->
                <modal v-show="is_login_messagebox_show" @close="is_login_messagebox_show = false">
                    <h3 slot="body">${ login_message }</h3>
                    <h3 slot="header">Login error</h3>
                </modal>
            </div>
            <!------------------------------------------------------------------------------->


            <!------------------------------------ main part -------------------------------->
            <div id="main_part" v-show="logged_in">
                <aside>
                    <figure>
                        <div id="avatar" href="javascript:void(0)" v-on:click="main_idx = 'PROFILE'"></div>
                        <figcaption>User Name</figcaption>
                    </figure>
                    <nav>
                        <ul>
                            <li><a href="javascript:void(0)" v-on:click="main_idx = 'HOME'">Home</a></li>
                            <li><a href="javascript:void(0)" v-on:click="main_idx = 'SEARCH'">Search</a></li>
                            <li><a href="javascript:void(0)" v-on:click="main_idx = 'PROFILE'">Profile</a></li>
                            <li><a href="javascript:void(0)" v-on:click="main_idx = 'RESULT'">Result</a></li>
                        </ul>
                    </nav>
                </aside>

                <main>
                    <!---home--->
                    <div v-show="main_idx === 'HOME'">
                        <h1>Welcome to Tutor+</h1>
                        <p>Tutor+ is a right place to find your ideal tutor!</p>
                        <br>
                        <a href="javascript:void(0)" v-on:click="main_idx = 'SEARCH'" class="cta">Do Search Now</a>
                    </div>
                    <!---search--->
                    <div v-show="main_idx === 'SEARCH'">
                        Search page
                    </div>
                    <!---profile--->
                    <div v-show="main_idx === 'PROFILE'">
                        Profile page
                        <button v-on:click="logout()">logout</button>
                    </div>
                    <!---result--->
                    <div v-show="main_idx === 'RESULT'" class="result">

                        <!--reply-->

                        <template>

                            <v-layout column>

                                <div class="w3-banner-grids">
                                    <v-layout row>
                                        <v-flex xs6>
                                            <div class="col-md-6 w3-banner-grid-left">
                                <div class="w3-banner-img">
                                    <h3 class="test">Chris Adam</h3>
                                </div>
                                <div class=" w3-right-addres-1">
                                    <ul class="address">
                                        <li>
                                            <ul class="agileits-address-text ">
                                                <li class="agile-it-adress-left"><b>Gender</b></li>
                                                <li>Male</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul class="agileits-address-text">
                                                <li class="agile-it-adress-left"><b>School</b></li>
                                                <li>UCSC</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul class="agileits-address-text">
                                                <li class="agile-it-adress-left"><b>Major</b></li>
                                                <li>Computer Science</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                                        </v-flex>
                                        <v-flex xs5>
                                            <div class="col-md-6 w3-banner-grid-right">
                                <div class="w3-banner-text">
                                    <h3>Personal Statement</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dignissim velit sed nibh placerat, non aliquam purus pretium. Donec at justo dignissim, maximus elit et, vestibulum mi.</p>
                                </div>

                            </div>
                                        </v-flex>
                                    </v-layout>
                                </div>
                                <br>
                                <div class="reply-div">
                                    <v-container fluid grid-list-md>
                                        <v-layout align-space-between column>
                                    <v-layout row>
                                        <v-flex xs8>
                                            <v-rating v-model="rating" hover readonly></v-rating>
                                        </v-flex>

                                        <v-flex xs2>
                                            <v-btn flat color="primary" v-show="false">Edit</v-btn>
                                        </v-flex>
                                        <v-flex xs2>
                                            <v-btn flat color="primary" v-show="false">Submit</v-btn>
                                        </v-flex>
                                    </v-layout>
                                    <v-textarea class="replies"
                                      name="input-7-1"
                                      box
                                      label="Label"
                                      auto-grow
                                      value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
                                      readonly
                                      background-color = "white"
                                    ></v-textarea>
                                </v-layout>
                            </v-container>

                        </div>
                            </v-layout>
                        </template>
                    </div>
            <!--------------------------------------------------------------------------->
                </main>
            </div>
        </div>
    </body>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>


</html>


