{{extend 'import.html'}}
{{block head}}
{{end}}

<head>
	<title>Tutor+</title>
</head>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-85 p-b-20">
            <form action="{{=URL(r=request)}}" method="post" class="login100-form validate-form" id="user_pass">

                <img src="{{=URL('static','images/Logo.png')}}" align="middle">

                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
                    <input class="input100" type="text" name="username">
                    <span class="focus-input100" data-placeholder="Username"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                    <input class="input100" type="password" name="pass">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">{{=T('Login')}}</button>
                </div>

                <ul class="login-more p-t-190">
                    <li class="m-b-8">
                        <span class="txt1">
                            Forgot
                        </span>

                        <a href="#" class="txt2">
                            Username / Password?
                        </a>
                    </li>

                    <li>
                        <span class="txt1">
                            Don’t have an account?
                        </span>

                        <a href="#" class="txt2">
                            Sign up
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

<div id="dropDownSelect1"></div>

<script type="text/javascript">
    var form_vars = jQuery('#user_pass').serialize();
    jQuery.post("{{'default','login'}}}", form_vars, function() {
    alert('POST was successful');
});
</script>