{{extend 'import.html'}}
{{block head}}
{{end}}

<script>
    //let check_userId_url = "{{=URL('api', 'check_userId')}}";
    let check_userId_url = "{{=URL('default', 'index')}}";
</script>

<head>
	<title>Tutor+</title>
</head>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-85 p-b-20">

            <div class="login100-form validate-form" id="login_div">

                <img src="{{=URL('static','images/Logo.png')}}" align="middle">

                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
                    <input class="input100" type="text" name="username" id="username_field">
                    <span class="focus-input100" data-placeholder="Username"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                    <input class="input100" type="password" name="password" id="password_field">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button onclick="login()" class="login100-form-btn">Login</button>
                </div>


                <ul class="login-more p-t-190">
                    <li class="m-b-8">
                        <span class="txt1">
                            Forgot
                        </span>

                        <a href="#" class="txt2">
                            Username / Password?
                        </a>
                    </li>

                    <li>
                        <span class="txt1">
                            Don’t have an account?
                        </span>

                        <a href="#" class="txt2">
                            Sign up
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="dropDownSelect1"></div>


<script src="{{=URL('static','js/firebase_login.js')}}"></script>
