/* import font */
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');



/* general setting */
#main_part,#vue-index,body,html{
    height: 100%;
    font-family: 'Source Serif Pro', serif;
}

#main_part, #vue-index,body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0039b3+0,34cfbe+100 */
    background: #0039b3; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #0039b3 0%, #34cfbe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0039b3 0%,#34cfbe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #0039b3 0%,#34cfbe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0039b3', endColorstr='#34cfbe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    /* make the background color not repeat */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* genral display settings */
}

#main_part{
    display: grid;
    grid-template-columns: 20% auto;
    padding: 3em;
}
aside{
    background: #DCE1F6;
    color: #fff;
    display: grid;
    padding: 0;
    grid-template-columns: auto;
    grid-template-rows: 20% auto;
}

img{
    /* set the cursor for all images as pointer */
    cursor: pointer;
}
figure{

}

figcaption{
    font-size: 1.3em;
    font-weight: bold;
}

nav{
    background: none;
}

/* .active{
    position: absolute;
    display: block;
    background: #fff;
    width: 50%;
    left: 0;
    /* top: 0; */
    /* height: 100%; */

nav ul{
    display: block;
    list-style-type: none;
    padding: 0;
    margin-top: 5em;
    position: relative !important;
    background: none !important;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    display: block;
    padding: 1.5em 3em;
    background-color: rgba(255,255,255,.35);
    color: #000;
}

nav ul li a:hover{
    background-color: white;
}

main{
    background: white url('../images/main-component.jpg') no-repeat;
    background-size: cover;
    padding: 2em;
}
#avatar{
    border-radius: 50%;
    background: white;
    width: 50px;
    height: 50px;
    margin: 2em auto 1em auto;
}
figcaption{
    text-align: center;
    color: #000;
}

h1{

    font-size: 3em;
    margin-top: 2em;
}

p{
    font-size: 1.5em;
    line-height: 1.5em;
}

.cta{
    display: inline-block;
    color: #fff;
    background: #0E7FFF;
    text-decoration: none;
    padding: 0.8em 3em;
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    margin: 2em 0;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}